.products {
  min-height: 80vh;
}

#box {
  width: 100%;
  min-height: 80vh;
  background: #eee;
  box-shadow: 0px 20px 40px rgb(104, 104, 104, 0.5),
    -10px 15px 30px rgb(104, 104, 104, 0.5),
    10px 15px 30px rgb(104, 104, 104, 0.5);

  transform: translateY(-15%);

  padding: 5em 6em;

  display: flex;
}

@media screen and (max-width: 900px) {
  #box {
    flex-direction: column;
    padding: 5em 3em;
  }
}

#box > * {
  flex-basis: 100%;
}

.products-title {
  font-size: 2rem;
}

.box-left hr {
  margin: 3em 0;
}

.products-description {
  display: flex;
}

@media screen and (max-width: 600px) {
  .products-description {
    flex-direction: column;
  }
}

.products-description > * {
  flex-basis: 100%;
  padding-right: 1.5em;
}

@media screen and (max-width: 600px) {
  .products-description > * {
    padding-right: 0;
  }

  .products-description > *:nth-child(2) {
    padding-top: 1.5em;
  }
}

.products-description-title {
  font-weight: bold;
  padding-bottom: 1em;
}

.box-right {
  padding-left: 1em;
}

@media screen and (max-width: 900px) {
  .box-right {
    padding-left: 0;
    padding-top: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
